html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Definimos variables CSS */
:root {
  --font-family: 'Inter', sans-serif;
  --font-size-base: 1.6rem;
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red: hsl(5, 85%, 63%);
  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(233, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-dark-blue: hsl(240, 100%, 5%);
  --color-text: #333;
}

html,
body {
  height: 100%;
}

/* Establecemos la fuente y el color predeterminado */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
blockquote,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

.wrapper {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

/* header */
.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  height: 8rem;

  --transform-hamburguer: scale(1);
  --transform-close: scale(0);
}

.nav:has(.nav__links:target) {
  --transform-hamburguer: scale(0);
  --transform-close: scale(1);
}

.nav::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.66);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav:has(.nav__links:target)::before {
  pointer-events: unset;
  opacity: 1;
}

.nav__menu,
.nav__close {
  grid-column: span 1/-1;
  grid-row: 1;
  transition: transform 0.3s ease-in-out;
}

.nav__menu {
  transform: var(--transform-hamburguer);
}

.nav__close {
  transform: var(--transform-close);
  text-align: center;
}

.nav__links {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
  max-width: 40rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  background: var(--color-neutral-off-white);

  display: grid;
  grid-auto-rows: max-content;
  padding: 10rem 0 0 3rem;
}

.nav__links:target {
  pointer-events: unset;
  transform: scaleX(1);
}

.nav__link {
  font-weight: 500;
  color: var(--color-neutral-dark-blue);
  padding: 1.5rem 0;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--color-primary-soft-red);
}

/* main */
.main {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-areas: 'hero' 'aside' 'products';
}

/* hero */
.hero {
  grid-area: hero;
}

.hero__img {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 300px;
  background-image: url('../assets/images/image-web-3-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__texts {
  margin: 3rem 0;
}

.hero__title {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-neutral-dark-blue);
}

.hero__paragraph {
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

.hero__cta {
  color: var(--color-neutral-off-white);
  background-color: var(--color-primary-soft-red);
  display: inline-block;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/************** Buscar fallas de desbordamiento *************/
/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
  } */
